


<p>Submited Information</p>
<p>Name: <%=survey.name%></p>
<p>Dojo Location: <%=survey.location%></p>
<p>Favorite Language: <%=survey.language%></p>
<p>Comment: <%=survey.message%></p>
<form action='/' method='POST'>
<input class="submit" type="submit" value="Go Back">
</form>
